/* ----------------------------------------------------------------
	00. Global Properties
    01. Preloader
	02. Sections
	03. Buttons
    04. Selection
    05. Navbar 
    06. Header
    07. Slider
    08. About
	09. Services
    10. Banner
    11. Works - Portfolio
	13. Testimonials
	14. Blog
    15. Contact
	16. Footer
    17. Overlay Effect Bg image
	18. Media Query
-----------------------------------------------------------------*/


/* ======= 00. Global Properties  ======= */

html,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    font-size: 14px;
    line-height: 1.75;
    font-weight: 300;
    color: #888;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden !important;
}


/* Typography */

p {
    font-size: 14px;
    line-height: 1.75;
    font-weight: 300;
    color: #888;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

span,
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #101010;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* margin top */

.mt-100 {
    margin-top: 100px !important;
}

.mt-120 {
    margin-top: 120px !important;
}


/* margin bottom */

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.mb-120 {
    margin-bottom: 120px !important;
}


/* margin top */

.mt-30 {
    margin-top: 30px !important;
}


/* padding-bottom */

.pb-60 {
    padding-bottom: 60px !important;
}

.pb-120 {
    padding-bottom: 120px !important;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;
}


/* img */

.image_wrap {
    height: 200px;
    display: inline-block;
    margin-bottom: 0;
}

.image_wrap img {
    border-radius: 4px;
}

.client-img {
    height: auto;
    width: 140px;
}

.bg-gray {
    background-color: #f5f5f5;
}


/* Preloader */

.loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #101010;
    z-index: 9999999999999;
}

.loading .middle {
    position: absolute;
    top: 50%;
    width: 100%;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}

/* Snow */

.snow{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.snow{
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.snow{
    border-radius: 50%;
    filter: blur(1px);
    position: absolute;
}
@keyframes bg {
    0%{ transform: scale(1.2);}
    100%{ transform: scale(1.3);}
}
@keyframes move {
    0%{
        transform: translateX(0);
        opacity: 0;
    }
    10% ,90%{
        opacity: 1;
    }
    100%{
        transform: translateX(45vw);
        opacity: 0;
    }
}



/* ======= 02. Sections  ======= */


/* section head turquoise */

.section-padding {
    padding: 120px 0;
}

.section-head-green {
    margin-bottom: 30px;
    text-align: center;
}

.section-head-green h4 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    padding-bottom: 15px;
    position: relative;
}

.section-head-green h4::before,
.section-head-green h4::after {
    content: '';
    width: 65px;
    height: 2px;
    position: absolute;
    background: linear-gradient(to bottom, rgb(252, 87, 42) 0%, rgb(249,48, 105) 100%);
}

.section-head-green h4::before {
    bottom: 0px;
    right: calc(50% - 15px);
}

.section-head-green h4::after {
    bottom: 0;
    left: calc(50% - 15px);
}

.section-head-green.left {
    text-align: left;
}

.section-head-green.left h4::before {
    right: auto;
    left: 0;
}

.section-head-green.left h4::after {
    left: 0;
    width: 70px;
}


/* section head white */

.section-head-white {
    margin-bottom: 70px;
    text-align: center;
}

.section-head-white h4 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
}

.section-head-white h4::before,
.section-head-white h4::after {
    content: '';
    width: 60px;
    height: 2px;
    position: absolute;
    background-color: #FFF;
}

.section-head-white h4::before {
    bottom: 0px;
    right: calc(50% - 15px);
}

.section-head-white h4::after {
    bottom: 0;
    left: calc(50% - 15px);
}

.section-head-white.left {
    text-align: left;
}

.section-head-white.left h4::before {
    right: auto;
    left: 0;
}

.section-head-white.left h4::after {
    left: 0;
    width: 70px;
}

[data-overlay-color] .section-head-green p {
    color: #888;
}

[data-overlay-color] .section-head-white p {
    color: #888;
}

[data-overlay-color].banner .icon {
    color: #fff !important;
}

.bg-gray {
    background: #f5f5f5;
}

.o-hidden {
    overflow: hidden;
}

.pos-re {
    position: relative;
}

.full-width {
    width: 100% !important;
}

.bg-img {
    background: #030303;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom!important;
}

.bg-fixed {
    background-attachment: fixed;
}

.valign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.v-middle {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}


/* owl theme */

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 15px;
    line-height: .7;
}

.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 0 7px;
    border-radius: 50%;
    background: #ddd;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #fa434a;
}


/* ======= 03. Buttons  ======= */

.craig-button {
    padding: 12px 35px;
    border-radius: 30px;
    position: relative;
    z-index: 3;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    outline: none !important;
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(252, 87, 42) 0%, rgb(249,48, 105) 100%);
    border: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-size: 200% 100%;
    color: #fff;
}

.craig-button-light {
    background: #fff;
    color: #fa434a;
}

.buton {
    padding: 12px 35px;
    font-size: 14px;
    line-height: 1.75;
    font-weight: 400;
    border-radius: 30px;
    border: transparent;
    color: #fa434a;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.button-black{
    background: linear-gradient(to bottom, rgb(252, 87, 42) 0%, rgb(249,48, 105) 100%) !important;
}
.button-black:hover{
    border: 2px solid #af2f34;
}
.buton-null {
    border: 1px solid #fa424c00;
    background: #fa424c1a;
    color: #fa434a;
}

.buton-null:hover {
    background: white;
    color: black;
    border: 1px solid #af2f34;
}

.buton-bg {
    background: linear-gradient(to bottom, rgb(252, 87, 42) 0%, rgb(249,48, 105) 100%);
    color: #fff;
}

.buton-bg:hover {
    background: #fff;
    color: #fa434a;
}
.text-shadow{
    box-shadow: 2px 7px 14px black;
}
/* ======= 04. Selection  ======= */

::-webkit-selection {
    color: #888;
    background: rgba(0, 0, 0, 0.1);
}

::-moz-selection {
    color: #888;
    background: rgba(0, 0, 0, 0.1);
}

::selection {
    color: #888;
    background: rgba(0, 0, 0, 0.1);
}


/* ======= 05. Navbar  ======= */

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border: 0;
    background: transparent;
    z-index: 9;
    min-height: 70px;
}

.main-navigation .nav-link {
    font-size: 14px;
    font-weight: normal;
    color: white;
    margin: 15px 5px;
    -webkit-transition: all .5s;
    transition: all .5s;
    position: relative;
}

.main-navigation .active {
    border-radius: 50px;
}

.nav-item {
    position: relative;
}

.submenu {
    opacity: 0;
    visibility: hidden;
    display: block;
    min-width: 180px;
    position: absolute;
    z-index: 10;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
    margin-top: 20px;
    padding: 15px 20px;
}

.nav-item:hover > .submenu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

.nav-item > .submenu a {
    color: #111
}

.nav-item > .submenu a:hover {
    color: #fa434a;
}

.nav-scroll {
    background: #fff;
    -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
}

.nav-scroll .icon-bar {
    color: #101010;
}

.nav-scroll .main-navigation .nav-link {
    color: #101010;
}

.nav-scroll .logo {
    padding: 15px 0;
    color: #101010;
}

.main-navigation .submenu .nav-link {
    padding: 0;
    margin: 0;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
}

.logo {
    padding: 15px 0;
    width: 100px;
}


/*MOBILE MENU*/

.box-mobile-menu-open .body-overlay {
    visibility: visible;
    opacity: 1;
}

.body-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 11;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.box-mobile-menu-open .box-mobile-menu {
    left: 0;
}

.box-mobile-menu-open .box-mobile-menu .main-menu .mobile-active > .submenu {
    left: 0 !important;
    z-index: 101;
}

.box-mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -320px;
    width: 90%;
    max-width: 320px;
    line-height: 30px;
    background-color: #fff;
    color: #888;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 11;
}

.box-mobile-menu .close-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 46px;
    height: 46px;
}

.box-mobile-menu .close-menu::before,
.box-mobile-menu .close-menu::after {
    border-bottom: 2px solid;
    content: "";
    left: 14px;
    position: absolute;
    top: 22px;
    width: 17px;
}

.box-mobile-menu .close-menu::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.box-mobile-menu .close-menu::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.box-mobile-menu .box-inner {
    height: calc(100% - 40px);
    box-shadow: 0 -1px 0 #eee;
    position: relative;
}

.box-mobile-menu .box-title {
    display: block;
    font-size: 18px;
    color: #101010;
    font-weight: 500;
    text-align: center;
    padding: 8px 0;
    margin: 0 46px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.box-mobile-menu .back-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 24px;
}

.box-mobile-menu .close-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 46px;
    height: 46px;
    text-align: center;
}

.box-mobile-menu .toggle-submenu {
    font-family: 'FontAwesome', sans-serif;
    font-size: 20px;
    cursor: pointer;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
}

.box-mobile-menu .toggle-submenu::before {
    content: "\f105";
}

.box-mobile-menu .submenu .submenu .toggle-submenu {
    display: none;
}

.box-mobile-menu .main-menu {
    position: absolute;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    z-index: 100;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

.box-mobile-menu .main-menu .submenu {
    background-color: #fff;
    color: #666;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 0 !important;
    left: -100% !important;
    bottom: 0;
    width: 100% !important;
    overflow: hidden;
    overflow-y: auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 0;
}

.box-mobile-menu .main-menu > .menu-item,
.box-mobile-menu .main-menu .submenu > .menu-item {
    display: inline-block;
    position: static;
    border-bottom: 1px solid #eee;
    width: 100%;
}

.box-mobile-menu .main-menu .menu-item > a {
    display: block;
    padding: 8px 15px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #101010;
}

.box-mobile-menu .main-menu .submenu.megamenu .menu-item > a {
    padding: 0;
}

.box-mobile-menu .main-menu .menu-item-has-children > a {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 50px);
}

.box-mobile-menu .main-menu .submenu .submenu .menu-item-has-children > a {
    display: block;
    width: auto;
}

.box-mobile-menu .main-menu .menu-item-has-children > .toggle-submenu {
    float: right;
    z-index: 30;
}


/*mobile-navigation*/

.mobile-navigation {
    display: none;
    cursor: pointer;
}

.menu-btn-icon {
    text-align: center;
    display: inline-block;
    height: 35px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: middle;
    line-height: 7px;
    position: relative;
    width: 24px;
    cursor: pointer;
}

.menu-btn-icon span {
    background-color: #fff;
    vertical-align: middle;
    display: inline-block;
    height: 2px;
    width: 24px;
}

.nav-scroll .menu-btn-icon span {
    background-color: #111;
}


/* ======= 06. Header  ======= */

.header {
    min-height: 100vh;
    position: relative;
}

.header.video {
    overflow: hidden;
}

.header .caption .o-hidden {
    display: inline-block;
}

.header .caption h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 15px 0;
    text-shadow: 2px 8px 8px #626060;
}

.header .caption h4 {
    margin: 15px 0;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    word-spacing: 2px;
}

.header .caption h4 span {
    color: #fff;
}

.header .caption p {
    font-size: 20px;
    font-weight: 300;
    color: #eee;
    word-spacing: 2px;
}

.header .caption p span {
    letter-spacing: 5px;
    margin: 0 5px;
    padding-right: 14px;
    position: relative;
}

.header .caption p span:last-child {
    padding: 0;
}

.header .caption p span:last-child:after {
    display: none;
}

.header .caption p span:after {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fa434a;
    position: absolute;
    top: 10px;
    right: 0;
    opacity: .5;
}

.header .caption .craig-button {}


/* ======= 07. Slider  ======= */

.slider .owl-item,
.slider-fade .owl-item {
    height: 100vh;
    position: relative;
}

.slider .item,
.slider-fade .item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.slider .item .caption,
.slider-fade .item .caption {
    z-index: 9;
}

.slider .owl-theme .owl-dots,
.slider-fade .owl-theme .owl-dots {
    position: absolute;
    bottom: 5vh;
    width: 100%;
}


/* particles */

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


/* ======= 08. About ======= */

.about .tab-content .left .box-white {
    padding: 50px 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0 5px 5px 5px;
}

.title {
    margin-bottom: 15px;
}

.sub-title {
    color: #fa434a;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.feat li {
    margin: 0;
    text-align: center;
    padding: 30px 5px;
    background-color: #f7f7f7;
}

.feat li:nth-child(odd) {
    background-color: #f3f3f3;
}

.feat li:hover {
    color: #fff;
    background-color: #fa434a;
}

.feat li:hover .icon {
    color: #eee;
}

.feat {
    margin: 0;
}

.feat .icon {
    font-size: 30px;
    color: #fa434a;
    margin-bottom: 15px;
}

.feat h6 {
    font-size: 14px;
    font-weight: 300;
}

.about .tab-content .image .owl-dots {
    margin-top: -30px;
    position: relative;
    z-index: 7;
}


/* about-us */

.about-us .img {
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.about ul {
    margin: 0;
}

.about ul li {
    margin-bottom: 15px;
    color: #888;
    font-size: 14px;
    line-height: 1.75em;
    font-weight: 300;
    word-wrap: initial;
}

.about ul li span {
    font-weight: 700;
    color: #101010;
}


/* ======= 09. Services  ======= */

.services .extra-title {
    margin-bottom: 15px;
}

.services .extra-title span {
    color: #ff9a5a;
}

.services .feat-item .feat-inner {
    padding: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 13px 2px rgba(0, 0, 0, 0.06);
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.services .feat-item.active .feat-inner {
    margin-top: -25px;
    padding-top: 75px;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 3;
}

.services .feat-item .icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 35px;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
    z-index: 3;
    text-align: center;
    float: left;
    background: linear-gradient(to bottom, rgb(252, 87, 42) 0%, rgb(249, 48, 105) 100%);
    color: white;
}

.services .feat-item .feat-info {
    overflow: hidden;
}

.services .feat-item h5 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.services .feat-item h6 {
    color: #888;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}


/* ======= 10. Banner  ======= */

.banner .item {
    position: relative;
    z-index: 4;
    margin-top: 30px;
}

.banner .item img {
    position: absolute;
    width: 70%;
    right: -40%;
    top: 15px;
    opacity: .5;
}

.banner .item img.tobotm {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.banner .item.odd {
    margin-top: 50px;
}

.banner .item .cont {
    padding: 15px;
    background-color: transparent;
    position: relative;
    z-index: 3;
    -webkit-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
}

.banner .item .icon {
    color: #fa434a;
    font-size: 50px;
}

.banner .item h3 {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    opacity: .2;
    z-index: -1;
}

.banner .item h6 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.75em;
}

.banner .item p {
    font-size: 14px;
    color: #BBB;
}


/* ======= 11. Works  ======= */

.works .filtering .filter {
    display: inline-block;
}

.works .filtering span {
    margin: 0 5px;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
}

.works .filtering .active {
    background: linear-gradient(to bottom, rgb(252, 87, 42) 0%, rgb(249,48, 105) 100%);
    -webkit-box-shadow: 0 8px 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 30px -5px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.works .isotope-sizer {
    width: 33.3333333%;
}

.works .item-img {
    position: relative;
    margin-top: 30px;
}

.works .item-img:hover .item-img-overlay {
    visibility: visible;
    opacity: 1;
}

.works .item-img-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.works .item-img-overlay .icon {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #fa434a;
    text-align: center;
    font-size: 20px;
    color: #fa434a;
}

.works .item-img-overlay p {
    color: #fa434a;
    font-weight: 300;
    font-size: 13px;
}

.works .item-img-overlay h6 {
    font-weight: 700;
    font-size: 18px;
    margin-top: 5px;
}


/* ======= 13. Testimonials  ======= */

.rating {
    float: right;
    white-space: nowrap;
    line-height: 100%;
    display: inline-block;
    font-size: 0;
    position: relative;
    overflow: hidden;
    width: 85px;
    letter-spacing: 4px;
    margin-top: 15px;
}

.rating::before,
.rating span::before {
    font-family: 'FontAwesome', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}

.rating::before {
    content: "\f005\f005\f005\f005\f005";
    color: #bbb;
}

.rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    line-height: 100%;
}

.rating span::before {
    content: "\f005\f005\f005\f005\f005";
    color: #FFA500;
}

.rating.rating-5 span {
    width: 100%;
}

.testimonials .item-box {
    margin-bottom: 20px;
}

.testimonials .item-inner {
    padding: 25px;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
}

.testimonials .item-box .quote span {
    background: linear-gradient(to bottom, rgb(252, 87, 42) 0%, rgb(249,48, 105) 100%);
    font-size: 60px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    border: none;
    margin-bottom: 15px;
    color: white;
}

.testimonials .item-box p {
    font-size: 14px;
    color: #888;
    font-weight: 300;
    text-align: left;
}

.testimonials .item-box .info {
    text-align: left;
    margin: 30px 0 15px;
}

.testimonials .item-box .info .author-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    border: 2px solid #fff;
}

.testimonials .item-box .info .cont {
    margin-left: 60px;
}

.testimonials .item-box .info h6 {
    color: #101010;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 3px;
}

.testimonials .item-box .info span {
    font-size: 13px;
    font-weight: 300;
    color: #888;
}


/* ======= 14. Blog  ======= */

.blog .item {
    -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.05);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.05);
}

.blog .item .post-img {
    overflow: hidden;
    position: relative;
}

.blog .item .post-img:hover .img {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.blog .item .post-img .img {
    -webkit-transition: all .4s;
    transition: all .4s;
}

.blog .item .cont {
    padding: 25px 20px 25px;
}

.blog .item .cont h6 {
    font-size: 18px;
    margin-bottom: 10px;
}

.blog .item .info {
    font-size: 12px;
    color: #888;
    margin-bottom: 10px;
}

.blog .item .info a {
    margin-right: 10px;
}

.blog .item .info a:last-child {
    margin-right: 0;
}

.blog .item .info b {
    color: #101010;
    font-weight: 600;
}

.blog .item .more {
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    text-transform: uppercase;
    color: #fa434a;
}

.blog .item .more:hover i {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.blog .item .more i {
    font-size: 10px;
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
    opacity: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}


/* ======= 15. Contact  ======= */

.contact .contact-info h5 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact .contact-info .item {
    text-align: center;
}

.contact .contact-info .item .icon {
    font-size: 30px;
    background: linear-gradient(to bottom, rgb(252, 87, 42) 0%, rgb(249,48, 105) 100%);
    color: white;
    padding: 15px;
    border-radius: 50%;
    height: 65px;
    width: 65px;
}

.contact .contact-info .item .cont {
    margin-top: 10px
}

.contact .contact-info .item .cont h6 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #888;
    font-weight: 300;
}

.contact .contact-info .item .cont p {
    color: #101010;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
}

.contact .form input,
.contact .form textarea {
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background-color: #f5f5f5;
    font-weight: 300;
}

.contact .form textarea {
    height: 160px;
    max-height: 160px;
    max-width: 100%;
}

.contact .craig-button {
    margin: 0;
}


/* ======= 16. Footer  ======= */

footer {
    padding: 80px 0;
    background-color: #101010;
}

footer .social a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: transparent;
    border-radius: 50%;
    color: #fa434a;
    font-size: 18px;
    margin: 0px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

footer .social a:hover {
    color: #fff;
}

footer .social a::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background-color: #fa434a;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
    border-radius: 50%;
    transition: 0.4s;
}

footer .social a:hover::before {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

footer .social a i {
    position: relative;
}

footer p {
    color: #888;
    font-weight: 400;
    font-size: 11px;
    font-weight: 400;
}

footer p a {
    color: #fa434a;
}

.footer-logo {
    padding-bottom: 15px;
    color: #101010;
}

.footer-logo img {
    height: auto;
    width: 100px;
}


/* ======= 17. Overlay Effect Bg image  ======= */

[data-overlay-dark],
[data-overlay-color],
[data-overlay-light] {
    position: relative;
}

[data-overlay-dark] .container,
[data-overlay-color] .container,
[data-overlay-light] .container {
    position: relative;
    color: #fff;
    z-index: 2;
}

[data-overlay-dark]:before,
[data-overlay-color]:before,
[data-overlay-light]:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

[data-overlay-dark]:before {
    background: #000;
}

[data-overlay-color]:before {
    background-color: #000;
}

[data-overlay-light]:before {
    background: #fff;
}

[data-overlay-dark] h1,
[data-overlay-dark] h2,
[data-overlay-dark] h3,
[data-overlay-dark] h4,
[data-overlay-dark] h5,
[data-overlay-dark] h6,
[data-overlay-dark] span {
    color: white;
}

[data-overlay-dark] p {
    color: #BBB;
}

[data-overlay-dark="0"]:before,
[data-overlay-color="0"]:before,
[data-overlay-light="0"]:before {
    opacity: 0;
}

[data-overlay-dark="1"]:before,
[data-overlay-color="1"]:before,
[data-overlay-light="1"]:before {
    opacity: 0.1;
}

[data-overlay-dark="2"]:before,
[data-overlay-color="2"]:before,
[data-overlay-light="2"]:before {
    opacity: 0.2;
}

[data-overlay-dark="3"]:before,
[data-overlay-color="3"]:before,
[data-overlay-light="3"]:before {
    opacity: 0.3;
}

[data-overlay-dark="4"]:before,
[data-overlay-color="4"]:before,
[data-overlay-light="4"]:before {
    opacity: 0.4;
}

[data-overlay-dark="5"]:before,
[data-overlay-color="5"]:before,
[data-overlay-light="5"]:before {
    opacity: 0.5;
}

[data-overlay-dark="6"]:before,
[data-overlay-color="6"]:before,
[data-overlay-light="6"]:before {
    opacity: 0.6;
}

[data-overlay-dark="7"]:before,
[data-overlay-color="7"]:before,
[data-overlay-light="7"]:before {
    opacity: 0.7;
}

[data-overlay-dark="8"]:before,
[data-overlay-color="8"]:before,
[data-overlay-light="8"]:before {
    opacity: 0.1;
}

[data-overlay-dark="9"]:before,
[data-overlay-color="9"]:before,
[data-overlay-light="9"]:before {
    opacity: 0.9;
}

[data-overlay-dark="10"]:before,
[data-overlay-color="10"]:before,
[data-overlay-light="10"]:before {
    opacity: 1;
}


/* ======= 18. Media Query  ======= */

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 1199px) {
    .mobile-navigation {
        display: inline-block;
    }
    #primary-navigation {
        display: none;
    }
    .works .isotope-sizer {
        width: 50%;
    }
    .services .feat-item .feat-inner {
        padding: 40px 20px;
    }
    .section-padding {
        padding: 100px 0;
    }
}

@media screen and (max-width: 991px) {
    .about-us .content {
        margin-top: 50px
    }
    .mb-md50 {
        margin-bottom: 50px;
    }
    .mb-md30 {
        margin-bottom: 30px;
    }
    .mb-md0 {
        margin-bottom: 0;
    }
    .bgimg-height {
        height: 400px;
    }
    .bg-fixed {
        background-attachment: scroll !important;
    }
    .header {
        background-attachment: scroll !important;
    }
    .header .caption h4 {
        font-size: 30px;
    }
    .header .caption h1 {
        font-size: 45px;
        line-height: 1.4;
    }
    .services .feat-item.active .text-center {
        padding-top: 50px;
        margin-top: 0;
    }
    .about .tab-content .image {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        margin: 50px 0 0;
    }
    .banner .item img {
        display: none;
    }
    .banner .item.odd {
        margin-top: 0;
    }
}

@media screen and (max-width: 767px) {
    .header .caption h4 span{
        color: #fff;
    }
    .section-head-green {
        margin-bottom: 30px;
    }
    .section-head-white {
        margin-bottom: 50px;
    }
    .services .feat-item.active .feat-inner {
        margin-top: 0;
    }
    .works .isotope-sizer {
        width: 100%;
    }
    .mb-sm50 {
        margin-bottom: 50px;
    }
    .mb-sm30 {
        margin-bottom: 30px;
    }
    .services .extra-title {
        font-size: 22px;
    }
    .works .filtering .filter {
        padding: 0;
    }
    .works .filtering span {
        margin: 0;
    }
    .section-padding {
        padding: 70px 0;
    }
    .craig-side-content > .logo img {
        max-width: inherit;
        max-height: 30px;
        width: auto;
    }
}

@media screen and (max-width: 480px) {
 
    .header .caption h4 {
        font-size: 18px;
    }
    .header .caption h1 {
        font-size: 30px;
        line-height: 1.5em;
    }
    .works .filtering span {
        padding: 5px 12px;
    }
    .craig-side-content > .logo img {
        max-width: inherit;
        max-height: 30px;
        width: auto;
    }
    .header .caption p {
        font-size: 16px;
        font-weight: 300;
        color: #eee;
        word-spacing: 2px;
    }
    .offset-xs-6{
        width: 100%!important;
    }
}


